interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.performfeeds.com/soccerdata/transfers/1oz220uimg4nk1k8tccbnl7cgz?_fmt=json&prsn=5ilkkfbsss0bxd6ttdlqg0uz9&_rt=b
  response:
    body:
      string: '{"lastUpdated":"2025-10-15T14:36:25Z","person":[{"id":"5ilkkfbsss0bxd6ttdlqg0uz9","firstName":"Mohamed","lastName":"Salah
        Hamed Mahrous Ghaly","shortFirstName":"Mohamed","shortLastName":"Salah Hamed
        Mahrous Ghaly","knownName":"Mohamed Salah","matchName":"Mohamed Salah","type":"player","position":"Attacker","nationalityId":"42vt7mha0thcwd0ihw3p29x5i","nationality":"Egypt","membership":[{"contestantId":"3669sbeijslw88073qlw1cbcp","contestantName":"Egypt","contestantShortName":"Egypt","active":"yes","startDate":"2011-01-01Z","transfer":{"type":"Unknown","announcedDate":"2011-01-01Z"}},{"contestantId":"5u18kvqiqhup2vd345dci1069","contestantName":"FC
        Basel 1893","contestantShortName":"Basel","active":"no","startDate":"2012-07-01Z","endDate":"2014-01-26Z","transfer":{"type":"Transfer","value":"2500000","currency":"EUR","announcedDate":"2012-07-01Z","fromContestantId":"rujv815dna8z56ptdquzovlu","fromContestantName":"Al
        Mokawloon","fromContestantShortName":"Mokawloon"}},{"contestantId":"8tkmnzagjxxyvbzh0j3vfgdsl","contestantName":"Egypt
        Under 23","contestantShortName":"Egypt","active":"no","startDate":"2012-07-12Z","endDate":"2012-08-31Z","transfer":{"type":"Transfer","announcedDate":"2012-07-12Z"}},{"contestantId":"9q0arba2kbnywth8bkxlhgmdr","contestantName":"Chelsea
        FC","contestantShortName":"Chelsea","active":"no","startDate":"2014-01-26Z","endDate":"2015-02-02Z","transfer":{"type":"Transfer","value":"13200000","currency":"EUR",[...]
