interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.performfeeds.com/soccerdata/tournamentcalendar/1oz220uimg4nk1k8tccbnl7cgz/active?_fmt=json&stages=yes&_rt=b&_pgNm=1&_pgSz=1000
  response:
    body:
      string: "{\"competition\":[{\"id\":\"ax1yf4nlzqpcji4j8epdgx3zl\",\"ocId\":\"1004\",\"opId\":\"601\",\"name\":\"Africa
        Cup of Nations Qualification\",\"knownName\":\"CAF Africa Cup of Nations Qualifiers\",\"competitionCode\":\"ACO\",\"displayOrder\":15,\"country\":\"Africa\",\"countryId\":\"7ye7ksf2tpqaauihjdiuqi6s5\",\"isFriendly\":\"no\",\"competitionFormat\":\"International
        cup\",\"type\":\"men\",\"tournamentCalendar\":[{\"id\":\"a91rgnnp9krmr754qerzib0no\",\"includesVenues\":\"yes\",\"ocId\":\"24194\",\"name\":\"2025
        Morocco\",\"startDate\":\"2024-03-20Z\",\"endDate\":\"2024-11-19Z\",\"active\":\"yes\",\"lastUpdated\":\"2025-06-09T09:40:41Z\",\"stage\":[{\"id\":\"a9m2lbzzq6h305d40dkvteal0\",\"ocId\":\"79213\",\"name\":\"Group
        Stage\",\"drawDate\":\"2024-07-04Z\",\"startDate\":\"2024-09-04Z\",\"endDate\":\"2024-11-19Z\",\"lastUpdated\":\"2025-06-09T09:40:41Z\",\"includesStandings\":\"yes\",\"series\":[{\"id\":\"aa0l28uwvznehmrmll7sp7mdw\",\"ocId\":\"24455\",\"formatId\":\"choy4837jf63m90uh34q2jmxh\",\"name\":\"Group
        A\",\"lastUpdated\":\"2025-06-07T21:18:50Z\",\"horizontal\":1},{\"id\":\"aa51fxrvgbs3zzpf7m8pbcf10\",\"ocId\":\"24456\",\"formatId\":\"ci6ciikoil0ifcuis37z8h7md\",\"name\":\"Group
        B\",\"lastUpdated\":\"2025-06-05T00:02:15Z\",\"horizontal\":2},{\"id\":\"aa9mjrggxroe92h8jbyn1rfv8\",\"ocId\":\"24457\",\"formatId\":\"cipycsizrs0x62qgt93uy6thx\",\"name\":\"Group
        C\",\"lastUpdated\":\"2025-06-09T09:40:41Z\",\"horizontal\":3},{\"id\":\"aae8wy9ps73ymgbah7fahthck\",\"ocId\":\"24458\",\"formatId\":\"cj9uw0tk6lcyj5rieqpmrvys5\",\"name\":\"Group
    [...]
