interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.performfeeds.com/soccerdata/transfers/1oz220uimg4nk1k8tccbnl7cgz?_fmt=json&ctst=c8h9bw1l82s06h77xxrelzhur&_rt=b&_pgNm=1&_pgSz=1000
  response:
    body:
      string: "{\"lastUpdated\":\"2025-11-06T16:41:54Z\",\"person\":[{\"id\":\"ali3gj8xhwzxj18tmllbnp13p\",\"firstName\":\"Dietmar\",\"lastName\":\"Hamann\",\"matchName\":\"D.
        Hamann\",\"type\":\"player\",\"position\":\"Midfielder\",\"nationalityId\":\"36min0qztu8eydwvpv8t1is0m\",\"nationality\":\"Germany\",\"membership\":[{\"contestantId\":\"c8h9bw1l82s06h77xxrelzhur\",\"contestantName\":\"Liverpool
        FC\",\"active\":\"no\",\"startDate\":\"1999-08-01Z\",\"endDate\":\"2006-06-01Z\",\"transfer\":{\"type\":\"Transfer\",\"value\":\"12000000\",\"currency\":\"EUR\",\"announcedDate\":\"1999-08-01Z\",\"fromContestantId\":\"7vn2i2kd35zuetw6b38gw9jsz\",\"fromContestantName\":\"Newcastle
        United FC\"}},{\"contestantId\":\"a3nyxabgsqlnqfkeg41m6tnpp\",\"contestantName\":\"Manchester
        City FC\",\"active\":\"no\",\"startDate\":\"2006-08-01Z\",\"endDate\":\"2009-07-01Z\",\"transfer\":{\"type\":\"Free
        Transfer\",\"value\":\"0\",\"announcedDate\":\"2006-08-01Z\",\"fromContestantId\":\"c8h9bw1l82s06h77xxrelzhur\",\"fromContestantName\":\"Liverpool
        FC\"}}]},{\"id\":\"7q2gj0tnctcdjlajf7jj2g6vp\",\"firstName\":\"Nick\",\"lastName\":\"Barmby\",\"mat[...]
