interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.performfeeds.com/soccerdata/tournamentschedule/1oz220uimg4nk1k8tccbnl7cgz/51r6ph2woavlbbpk8f29nynf8?_fmt=json&_rt=b
  response:
    body:
      string: '{"competition":{"id":"2kwbbcootiqqgmrzs6o5inle5","name":"Premier League","knownName":"English
        Premier League","competitionCode":"EPL","competitionFormat":"Domestic league","lastUpdated":"2025-10-26T20:41:57Z"},"tournamentCalendar":{"id":"51r6ph2woavlbbpk8f29nynf8","name":"2025/2026","startDate":"2025-08-15Z","endDate":"2026-05-24Z","lastUpdated":"2025-10-26T20:41:57Z"},"matchDate":[{"date":"2025-08-15Z","numberOfGames":"1","match":[{"id":"zhs8gg1hvcuqvhkk2itb54pg","coverageLevel":"13","optaBetting":"1","date":"2025-08-15Z","time":"19:00:00Z","localDate":"2025-08-15","localTime":"20:00:00","homeContestantId":"c8h9bw1l82s06h77xxrelzhur","awayContestantId":"1pse9ta7a45pi2w2grjim70ge","homeContestantName":"Liverpool","awayContestantName":"AFC
        Bournemouth","homeContestantOfficialName":"Liverpool FC","awayContestantOfficialName":"AFC
        Bournemouth","homeContestantShortName":"Liverpool","awayContestantShortName":"Bournemouth","homeContestantCode":"LIV","awayContestantCode":"BOU","numberOfPeriods":2,"periodLength":45,"var":"1"}]},{"date":"2025-08-16Z","numberOfGames":"5","match":[{"id":"102dto55773ex3p58gp94ql90","coverageLevel":"13","optaBetting":"1","date":"2025-08-16Z","time":"11:30:00Z","localDate":"2025-08-16","localTime":"12:30:00","homeContestantId":"b496gs285it6bheuikox6z9mj","awayContestantId":"7vn2i2kd35zuetw6b38gw9jsz","homeContestantName":"Aston
        Villa","awayContestantName":"Newcastle United","homeContestantOfficialName":"Aston
        Villa FC","awayContestantOfficialName":"Newcastle United FC"[...]
