interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.performfeeds.com/soccerdata/matchevent/1oz220uimg4nk1k8tccbnl7cgz/zhs8gg1hvcuqvhkk2itb54pg?_fmt=json&_rt=b
  response:
    body:
      string: "{\"matchInfo\":{\"id\":\"zhs8gg1hvcuqvhkk2itb54pg\",\"coverageLevel\":\"13\",\"date\":\"2025-08-15Z\",\"time\":\"19:00:00Z\",\"localDate\":\"2025-08-15\",\"localTime\":\"20:00:00\",\"week\":\"1\",\"numberOfPeriods\":2,\"periodLength\":45,\"var\":\"1\",\"lastUpdated\":\"2025-11-04T15:47:50Z\",\"description\":\"Liverpool
        vs AFC Bournemouth\",\"sport\":{\"id\":\"289u5typ3vp4ifwh5thalohmq\",\"name\":\"Soccer\"},\"ruleset\":{\"id\":\"79plas4983031idr6vw83nuel\",\"name\":\"Men\"},\"competition\":{\"id\":\"2kwbbcootiqqgmrzs6o5inle5\",\"name\":\"Premier
        League\",\"knownName\":\"English Premier League\",\"competitionCode\":\"EPL\",\"competitionFormat\":\"Domestic
        league\",\"country\":{\"id\":\"1fk5l4hkqk12i7zske6mcqju6\",\"name\":\"England\"}},\"tournamentCalendar\":{\"id\":\"51r6ph2woavlbbpk8f29nynf8\",\"startDate\":\"2025-08-15Z\",\"endDate\":\"2026-05-24Z\",\"name\":\"2025/2026\"},\"stage\":{\"id\":\"52mas07a9lsy28lwm6egrtqfo\",\"formatId\":\"e2q01r9o9jwiq1fls93d1sslx\",\"startDate\":\"2025-08-15Z\",\"endDate\":\"2026-05-24Z\",\"name\":\"Regular
        Season\"},\"contestant\":[{\"id\":\"c8h9bw1l82s06h77xxrelzhur\",\"name\":\"Liverpool\",\"shortName\":\"Liverpool\",\"officialName\":\"Liverpool
        FC\",\"code\":\"LIV\",\"position\":\"home\",\"country\":{\"id\":\"1fk5l4hkqk12i7zske6mcqju6\",\"name\":\"England\"}},{\"id\":\"1pse9ta7a45pi2w2grjim70ge\",\"name\":\"AFC
        Bournemouth\",\"shortName\":\"Bournemouth\",\"officialName\":\"AFC Bournemouth\",\"code\":\"BOU\",\"position\":\"away\",\"country\":{\"id\":\"1fk5l4hkqk12i7zske6mcqju6\",\"name\":\"England\"}}],\"venue\":{\"id\":\"39tsgu0lj7rs44kxa9n7r6k4\",\"neutral\":\"no\",\"longName\":\"Anfield\",\"shortName\":\"Anfield\",\"latitude\":\"53.430827885\",\"longitude\":\"-2.960852981\"}},\"liveData\":{\"matchDetails\":{\"periodId\":14,\"matchStatus\":\"Played\",\"winner\":\"home\",\"matchLengthMin\":99,\"matchLengthSec\":9,\"period\":[{\"id\":1,\"start\":\"2025-08-15T19:01:03Z\",\"end\":\"2025-08-15T19:49:06Z\",\"lengthMin\":48,\"lengthSec\":3,\"announcedInjuryTime\":180},{\"id\":2,\"start\":\"2025-08-15T20:05:06Z\",\"end\":\"2025-08-15T20:56:12Z\",\"lengthMin\":51,\"lengthSec\":6,\"announcedInjuryTime\":360}],\"scores\":{\"ht\":{\"home\":1,\"away\":0},\"ft\":{\"home\":4,\"away\":2},\"total\":{\"home\":4,\"away\":2}}},\"event\":[{\"id\":2835084771,\"eventId\":2,\"typeId\":34,\"periodId\":16,\"timeMin\":0,\"timeSec\":0,\"contestantId\":\"c8h9bw1l82s06h77xxrelzhur\",\"outcome\":1,\"x\":0.0,\"y\":0.0,\"timeStamp\":\"2025-08-15T17:55:03.788Z\",\"lastModified\":\"2025-08-15T19:03:18Z\",\"qualifier\":[{\"id\":5840679577,\"qualifierId\":194,\"value\":\"dxze3b3fsfl814bjcs7q6wcet\"},{\"id\":5840679581,\"qualifierId\":227,\"value\":\"0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0\"},{\"id\":5840679575,\"qualifierId\":131,\"value\":\"1,
        2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0\"},{\"id\":5840679579,\"qualifierId\":197,\"value\":\"23267\"},{\"id\":5840679569,\"qualifierId\":44,\"value\":\"1,
        2, 2, 3, 2, 2, 3, 3, 4, 3, 3, 5, 5, 5, 5, 5, 5, 5, 5, 5\"},{\"id\":5840679567,\"qualifierId\":30,\"value[...]
