interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.performfeeds.com/soccerdata/match/1oz220uimg4nk1k8tccbnl7cgz/zhs8gg1hvcuqvhkk2itb54pg?_fmt=json&live=yes&lineups=yes&_rt=b
  response:
    body:
      string: "{\"matchInfo\":{\"id\":\"zhs8gg1hvcuqvhkk2itb54pg\",\"coverageLevel\":\"13\",\"date\":\"2025-08-15Z\",\"time\":\"19:00:00Z\",\"localDate\":\"2025-08-15\",\"localTime\":\"20:00:00\",\"week\":\"1\",\"numberOfPeriods\":2,\"periodLength\":45,\"var\":\"1\",\"lastUpdated\":\"2025-11-04T15:47:50Z\",\"description\":\"Liverpool
        vs AFC Bournemouth\",\"sport\":{\"id\":\"289u5typ3vp4ifwh5thalohmq\",\"name\":\"Soccer\"},\"ruleset\":{\"id\":\"79plas4983031idr6vw83nuel\",\"name\":\"Men\"},\"competition\":{\"id\":\"2kwbbcootiqqgmrzs6o5inle5\",\"name\":\"Premier
        League\",\"knownName\":\"English Premier League\",\"competitionCode\":\"EPL\",\"competitionFormat\":\"Domestic
        league\",\"country\":{\"id\":\"1fk5l4hkqk12i7zske6mcqju6\",\"name\":\"England\"}},\"tournamentCalendar\":{\"id\":\"51r6ph2woavlbbpk8f29nynf8\",\"startDate\":\"2025-08-15Z\",\"endDate\":\"2026-05-24Z\",\"name\":\"2025/2026\"},\"stage\":{\"id\":\"52mas07a9lsy28lwm6egrtqfo\",\"formatId\":\"e2q01r9o9jwiq1fls93d1sslx\",\"startDate\":\"2025-08-15Z\",\"endDate\":\"2026-05-24Z\",\"name\":\"Regular
        Season\"},\"contestant\":[{\"id\":\"c8h9bw1l82s06h77xxrelzhur\",\"name\":\"Liverpool\",\"shortName\":\"Liverpool\",\"officialName\":\"Liverpool
        FC\",\"code\":\"LIV\",\"position\":\"home\",\"country\":{\"id\":\"1fk5l4hkqk12i7zske6mcqju6\",\"name\":\"England\"}},{\"id\":\"1pse9ta7a45pi2w2grjim70ge\",\"name\":\"AFC
        Bournemouth\",\"shortName\":\"Bournemouth\",\"officialName\":\"AFC Bournemouth\",\"code\":\"BOU\",\"position\":\"away\",\"country\":{\"id\":\"1fk5l4hkqk12i7zske6mcqju6\",\"name\":\"England\"}}],\"venue\":{\"id\":\"39tsgu0lj7rs44kxa9n7r6k4\",\"neutral\":\"no\",\"longName\":\"Anfield\",\"shortName\":\"Anfield\",\"latitude\":\"53.430827885\",\"longitude\":\"-2.960852981\"}},\"liveData\":{\"matchDetails\":{\"periodId\":14,\"matchStatus\":\"Played\",\"winner\":\"home\",\"matchLengthMin\":99,\"matchLengthSec\":9,\"period\":[{\"id\":1,\"start\":\"2025-08-15T19:01:03Z\",\"end\":\"2025-08-15T19:49:06Z\",\"lengthMin\":48,\"lengthSec\":3,\"announcedInjuryTime\":180},{\"id\":2,\"start\":\"2025-08-15T20:05:06Z\",\"end\":\"2025-08-15T20:56:12Z\",\"lengthMin\":51,\"lengthSec\":6,\"announcedInjuryTime\":360}],\"scores\":{\"ht\":{\"home\":1,\"away\":0},\"ft\":{\"home\":4,\"away\":2},\"total\":{\"home\":4,\"away\":2}}},\"goal\":[{\"contestantId\":\"c8h9bw1l82s06h77xxrelzhur\",\"periodId\":1,\"timeMin\":37,\"timeMinSec\":\"36:16\",\"lastUpdated\":\"2025-09-19T18:24:58Z\",\"timestamp\":\"2025-08-15T19:37:20Z\",\"type\":\"G\",\"scorerId\":\"3vx94h32ahujciraspdayj9t6\",\"scorerName\":\"H.
        Ekitik\xE9\",\"assistPlayerId\":\"am6ppbdrbz4ml3xsbty53o73d\",\"assistPlayerName\":\"A.
        Mac Allister\",\"optaEventId\":\"2835175299\",\"homeScore\":1,\"awayScore\":0},{\"contestantId\":\"c8h9bw1l82s06h77xxrelzhur\",\"periodId\":2,\"timeMin\":49,\"timeMinSec\":\"48:23\",\"lastUpdated\":\"2025-08-15T20:09:33Z\",\"timestamp\":\"2025-08-15T20:08:29Z\",\"type\":\"G\",\"scorerId\":\"9psfk94nduz6icnuwty5v9all\",\"scorerName\":\"C.
        Gakpo\",\"assistPlayerId\":\"3vx94h32ahujciraspdayj9t6\",\"assistPlayerName\":\"H.
        Ekitik\xE9\",\"optaEventId\":\"2835200893\",\"homeScore\":2,\"awayScore\":0},{\"contestantId\":\"1pse9ta7a45pi2w2grjim70ge\",\"periodId\"[...]
