interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.performfeeds.com/soccerdata/contestantparticipation/1oz220uimg4nk1k8tccbnl7cgz?_fmt=json&ctst=c8h9bw1l82s06h77xxrelzhur&active=no&_rt=b
  response:
    body:
      string: '{"contestant":[{"id":"c8h9bw1l82s06h77xxrelzhur","name":"Liverpool","shortName":"Liverpool","officialName":"Liverpool
        FC","code":"LIV","competition":[{"id":"dqr4zpn4l9x9br1c5qv1fb6v9","ocId":"173","name":"Community
        Shield","knownName":"English Community Shield","competitionCode":"COS","displayOrder":120,"country":"England","countryCode":"ENG","isFriendly":"no","competitionFormat":"Domestic
        super cup","lastUpdated":"2025-08-11T11:29:11Z","tournamentCalendar":[{"id":"9luewa1mv0l31ronlul0h4pg","includesVenues":"yes","ocId":"25619","name":"2025/2026","startDate":"2025-08-10Z","endDate":"2025-08-10Z","active":"yes","lastUpdated":"2025-08-11T11:28:32Z","includesStandings":"no"},{"id":"a4mxu5yshflodqntd0plig2dw","includesVenues":"yes","ocId":"20627","name":"2022/2023","startDate":"2022-07-30Z","endDate":"2022-07-30Z","active":"no","lastUpdated":"2024-12-01T07:59:19Z","includesStandings":"no"},{"id":"10xv1zohomak3ro5ua2lbrhwq","includesVenues":"yes","ocId":"18017","name":"2020/2021","startDate":"2020-08-29Z","endDate":"2020-08-29Z","active":"no","lastUpdated":"2025-07-12T07:40:42Z","includesStandings":"no"},{"id":"efl4ic41hmbq4mn352jj5uane","includesVenues":"yes","ocId":"16505","name":"2019/2020","startDate":"2019-08-04Z","endDate":"2019-08-04Z","active":"no","lastUpdated":"2024-12-01T07:59:19Z","includesStandings":"no"},{"id":"1ruo70fy0h5qha3pr95pga6s5","includesVenues":"no","ocId":"1643","name":"2006/2007","startDate":"2006-08-13Z","endDate":"2006-08-13Z","active":"no","lastUpdated":"2024-06-18T06:34:43Z","includesStandings":"no"}],"competitionType":"club"},{"id":"f47f3717z2vtpxfxrpdd4jl1x","ocId":"96","name":"EFL
        Trophy","knownName":"English Football League Trophy","competitionCode":"FLT","displayOrder":130,"country":"England","countryCode":"ENG","isFriendly":"no","competitionFormat":"Domestic
        cup","lastUpdated":"2025-08-17T03:05:54Z","tournamentCalendar":[{"id":"1jzkm7fc9lds39r5qhscluwgl","includesVenues":"no","ocId":"1829","name":"2006/2007","startDate":"2006-10-17Z","endDate":"2007-04-01Z","active":"no","lastUpdated":"20[...]
